HTML {
    background-color: white;
    overflow-wrap: break-word;
}

h1 {
    width: 60%;
    margin: auto;
    border: 0px;
    padding: 10px;
}

.textarea {
    display: block;
    align-self: center;
    width: 95%;
    overflow: hidden;
    resize: vertical;
    line-height: 20px;
    min-height: 200px;
    margin: 50px;
}

#input {
    margin: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    display:block;
    text-align: left;
}

#prettify {
    border-radius: 10px;
    border-color: white;
    width: 30%;
    height: 50px;
    font-size: larger;
    color: black;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #757575;
    font-style: normal;
    transition: 0.5s;
}

#prettify:hover {
    background-color: #c7c7c7;
    width: 32%;
}

#prettify:active {
    background-color: #ff0000;
    transition: 0.1s;
}

#error {
    color:red;
}